[submodule "Raleway"]
	path = Raleway
	url = https://github.com/theleagueof/raleway.git
[submodule "Junction"]
	path = Junction
	url = https://github.com/theleagueof/junction.git
[submodule "Prociono"]
	path = Prociono
	url = https://github.com/theleagueof/prociono.git
[submodule "Fanwood"]
	path = Fanwood
	url = https://github.com/theleagueof/fanwood.git
[submodule "LeagueGothic"]
	path = LeagueGothic
	url = https://github.com/theleagueof/league-gothic.git
